*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #45415b;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    color: aliceblue;
    text-align: center;
    margin: 20px 0;
}

.dayCard {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 20px;
    width: 600px;
    background-color: aliceblue;
    margin-bottom: 20px;
}

.date-h3 {
    padding: 10px;
}

.hourly-info-container {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

.each-hour {
    padding: 10px;
    align-items: center;
    text-align: center;
    border: 1px solid #6d6d6d;
    border-radius: 10px;
}

.hourly-hour {
    font-size: 15px;
}

.hourly-temp {
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

.weather-icon {
    font-size: 25px;
    margin: 5px 0;
}
